@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'manrope', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background: linear-gradient(-65deg, #FAFAFA, #E0E0E0);
}

html, body {
    height: 100%;
}

select {
    padding: .45rem 1rem !important;
}

button, select {
    font-size: .9rem;
    font-family: inherit;
    font-weight: bold;
    border: none;
    padding: .5rem 1rem;
    border-right: 1px solid #424242;
}

button:hover, select:hover {
    cursor: pointer;
}

button:active {
    padding-top: .6rem;
    padding-bottom: .4rem;
    outline: none;
}

button:focus, select:focus {
    outline: none;
}

option {
    padding: .2rem .5rem;
}

.app-wrapper {
    width: 100%;
    margin-top: 2rem;
}

.maze-container {
    max-height: 750px;
    height: 750px;
    max-width: 1220px;
    width: 1220px;
    margin: auto;
}

.maze-node {
    width: 35px;
    height: 35px;
    border: 1px solid #616161;
    box-sizing: border-box;
    position: relative;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
  
#maze-canvas {
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 10px 2px #9E9E9E;
}

.node-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2.2rem;
}

[type="wall"] .node-span {
    background: #424242;
    animation: nodeChange 200ms forwards ease-out;
}

[type="start"] .node-span {
    background: #66bb6a;
    width: 100%;
    height: 100%;
}

[type="end"] .node-span {
    background: #e53935;
    width: 100%;
    height: 100%;
}

[type="visited"] .node-span {
    background: #29b6f6;
    animation: nodeChange 200ms forwards;
}

[type="seen"] .node-span {
    background: #bdbdbd;
    animation: nodeChange 200ms forwards;
}

[type="path"] .node-span {
    background: #9ccc65;
    animation: nodeChange 200ms forwards;
}

.dropdown-item {
    /* display: none; */
    position: absolute;
    width: max-content;
}

nav {
    display: flex;
    align-items: center;
    height: auto;
    background: #dddddd;
    box-shadow: 0 -6px 10px 9px #9E9E9E;
}

ul {
    list-style: none;
    position: relative;
}

.unorderer.dropdown:hover .dropdown-item {
    display: initial;
}

a {
    margin-left: auto;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: .2rem .5rem;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid black;
}

.algorithm-info {
    display: none;
    justify-content: space-around;
    font-size: 1.6rem;
}